div {
  background-color: red;
  width: 65px;
  height: 65px;
  background-clip: content-box;
  border: black, solid;
  margin: 25px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
#box-1 {
padding: 10px;
}
#box-2 {
padding: 30px 60px 
}
#box-3 {
padding-top: 13px;
padding-right: 13px;
padding-bottom: 35px;
padding-left: 13px;
}
#box-4 {
padding-top: 6px;
padding-right: 125px;
padding-bottom: 35px;
padding-left: 200px; 
}